.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#main,
#primary {
	width: 80%;
	max-width: 968px;
	margin: 0 auto;
}


// page-news
@media (max-width: 768px) {
	#primary {
		display: block;
	}

	#secondary {
		margin-top: 20px;
	}
}

@media (min-width: 769px) {
	#primary {
		display: flex;
		flex-direction: column;
	}

	#secondary {
		order: 2;
		width: 100%;
	}

	#main {
		order: 1;
		flex: 1;
	}
}

.category-tag {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

// header, navbar
$background-color: black;
$hover-background-color: blue;
$text-color: white;
$hover-text-color: white;

.site-header {
	background-color: $background-color;
	color: $text-color;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.site-branding {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.site-description {
		h1 {
			margin: 0;

			a {
				color: $text-color;
				text-decoration: none;

				&:hover {
					color: $hover-text-color;
				}
			}
		}
	}

	.main-navigation {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: right;

			li {
				margin-left: 2rem;

				a {
					color: $text-color;
					text-decoration: none;
					padding: 0.5rem 1rem;
					transition: background-color 0.3s ease;

					&:hover {
						background-color: $hover-background-color;
						color: $hover-text-color;
					}
				}
			}
		}
	}
}




// front-page recent news
.recent-news {
	margin-top: 2rem;

	h2 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.recent-posts {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1rem;
	}

	.recent-post {
		position: relative;
		width: 30%;
		box-sizing: border-box;
		overflow: hidden;

		a {
			text-decoration: none;
			color: inherit;
			display: block;
			position: relative;
		}

		.recent-post-title {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			font-weight: bold;
			background-color: #ffffff80;
			padding: 0.5rem 0;
			box-sizing: border-box;
		}

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}



// staff page

.staff-section div {
	display: flex;
	flex-wrap: wrap;
}


#administrative h2 {
	text-decoration: underline;
	color: #ffffff;
}


#admin-wrapper article,
.faculty-wrapper article {
	width: 40%;
}

#admin-wrapper,
.faculty-wrapper {
	display: flex;
	flex-direction: row;

}