.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#main,
#primary {
	width: 80%;
	max-width: 968px;
	margin: 0 auto;
}


// page-news
@media (max-width: 768px) {
	#primary {
		display: block;
	}

	#secondary {
		margin-top: 20px;
	}
}

@media (min-width: 769px) {
	#primary {
		display: flex;
		flex-direction: column;
	}

	#secondary {
		order: 2;
		width: 100%;
	}

	#main {
		order: 1;
		flex: 1;
	}
}

.entry-header {

	a,
	a:visited {
		color: #4169e1;
	}
}

.category-tag {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

// front-page recent news
.recent-news {
	margin-top: 2rem;

	h2 {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	a,
	a:visited {
		text-decoration: none;
		color: $color__link;
		display: block;
		position: relative;
	}

	p {
		font-weight: bold;
	}

	.recent-posts {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		@media (min-width: 37.5em) {
			justify-content: space-between;	
		}
	}

	.recent-post {
		position: relative;
		width: 100%;

		.recent-post-title {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			font-weight: bold;
			background-color: #ffffff80;
			padding: 1rem;
			box-sizing: border-box;
		}

		@media (min-width: 37.5em) {
			width: 30%;
			justify-content: space-around;
		}
	}

	.all-news-btn {
		&:hover {
			text-decoration: underline;

			a {
				color: $color__link-hover;
			}
			
		}
	}
}

// staff page
.staff-section {

	div {
		display: flex;
		flex-wrap: wrap;
	}

	h2 {
		text-decoration: underline;
	}
}

.admin-wrapper,
.faculty-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

	article {
		width: 40%;
	}

	a:visited {
		color: #4294c4;
	}

}

// students archive
.students-section {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-around;

	h2 {
		color: $color__text-screen;
		font-size: 1.5rem;
		margin: 0;
	}

	p {
		font-size: 1.1rem;
	}

	a,
	a:visited {
		color: $color__text-screen;
		font-weight: bold;
	}

	.student-card {
		margin-bottom: 3rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 18.75rem;

		@media (min-width: 37.5em) {
			width: 40%;
		}

		@media (min-width: 55em) {
			width: 30%;
		}

		@media (min-width: 80em) {
			width: 100%;
		}

		.student-specialty {
			font-weight: bold;
		}
	}
}

// student taxonomy
.school-student {

	h2 {
		font-size: 1.5rem;
	}

	a,
	a:visited {
		color: $color__text-screen;
	}

	.entry-content .wp-block-button {
		a {
			color: #fff;
		}	
		
	}

	@media (min-width: 37.5em) {
		display: grid;
		grid-template-rows: auto 1fr;
		column-gap: 1rem;
		align-items: center;

		.entry-header {
			grid-column: 1 / 2;
		}

		img {
			grid-column: 1 / 2;
			grid-row: 2 / 3f;
		}

		.entry-content {
			grid-row: 1 / 3;
			grid-column: 2 / 3;
		}
	}

	@media (min-width: 55em) {
		column-gap: 2rem;
	}
}

.other-students {
	margin-bottom: 1rem;

	h2 {
		font-size: 1.5rem;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;
			margin-bottom: 1rem;
		}
	}

	a,
	a:visited {
		color: $color__link;
		font-size: 1.2rem;
		font-weight: bold;
	}
}